@tailwind base;
@tailwind components;
@tailwind utilities;

iframe {
    width: 1000px;
    height: 700px;
}

#test {
    width: 200px;
    height: 100px;
}

.testimg{
    overflow:clip;
    overflow: hidden;
}

.inputAddForm {
    background: none;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #0e637042;
}

select {
    max-width: 10rem;
    height: 2rem;
    border: solid 1px #0E6370;
    border-radius: 10px;
}

#listTech {
    overflow-y:auto;
}

#listTech::-webkit-scrollbar {
    /*display: none;*/
    border-radius: 0 50px 0 0;
    width: 5px;
}
#listTech::-webkit-scrollbar-thumb {
    /*display: none;*/
    border-radius: 50px;
    background-color: #b1b1b173;
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;


    display: grid;
    place-content: center;

    box-shadow: none;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: currentColor;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}