@tailwind base;
@tailwind components;
@tailwind utilities;

iframe{
    width: 1000px;
    height: 700px;
}

#test{
    width: 200px;
    height: 100px;
}

input{
    background: none;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #0e637042;
}

select{
    max-width: 10rem;
    height: 2rem;
    border: solid 1px #0E6370;
    border-radius: 10px;
}

#listTech{
    overflow-y: scroll;
}